{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://www.facebook.com/cuongpqtc/"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
        <li><a href="https://github.com/cuzzcuzz97"><img src="{% static 'images/github.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/quoccuongphan97/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="/" target="_blank">Quoc Cuong</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->