{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
  <style>
    .download_dropdown {
      display: flex;
      position: relative;
      top: 0;
      left: 0;
      height: 0;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      overflow: hidden;
      flex-direction: column;
    }
    .download_dropdown a:hover {
      background-color: black;
      color: white !important;
    }

    .fa-arrow-right {
      transition: all 1s ease;
    }
    .knowmore-btn:active > .fa-arrow-right{
      transform: rotate(calc(90deg + 360deg));
      color: white;
    }
    
    .knowmore-btn:hover > .fa-arrow-right {
      transform: rotate(calc(90deg + 360deg));
      color: white;
    }

    .bannerSection {
      margin-bottom: 4rem;
    }
    
  </style>
  <div class="bannerSection">
    <div class="container">
      <div class="row g-4 g-md-3  align-items-center">
        <div class="col-md-auto order-md-last">
          <div class="bannerUserImg">
            <img src="{{me.userprofile.avatar.url}}" alt="{{me.first_name|title}} {{me.last_name|title}} avatar">
          </div>
        </div>
        <div class="col-md">
          <div class="bannerContent">
            <h1 id="headingIntro" class=" xlTitle pb-3">Hi, I'm {{me.first_name|title}}, <br> a {{me.userprofile.title}} </br></h1>
            <p id="subheadingIntro" class="">{{me.userprofile.bio}}</p>
            <div class="bannerBtnCol">
              <div class="row">
                <div class="col-auto">
                  <button class="btn btnPrimary btnDownload">Download Resume</button>
                  <div class="download_dropdown">
                    <a download href="{{me.userprofile.cv.url}}" class="btn btn-light text-dark">English</a>
                    <a download href="{{me.userprofile.cv_vietnamese.url}}" class="btn btn-light text-dark">Vietnamese</a>
                  </div>
                </div>
                <div class="col-auto">
                  <a href="{% url 'main:contact' %}" class="btn btnOutline">Contact</a>
                </div>
                <div  class="col-auto">
                  <a href="#skills" class="btn btn-outline-info knowmore-btn">Know more <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>

    const resumes = document.querySelector('.download_dropdown')
    const downloadBtn = document.querySelector('.btnDownload')

    downloadBtn.addEventListener("mousemove", () => {
      resumes.style.height = '100px';
      resumes.style.opacity = 1;
    })

function addTransition (){
    const textIntro = document.querySelector('#headingIntro')
    const subtextIntro = document.querySelector('#subheadingIntro')
    const textReplace = textIntro.textContent;
    const subtextReplace = subtextIntro.textContent;
    textIntro.textContent = '';
    subtextIntro.textContent = '';
    let textAnimation = '';
    let subtextAnimation = '';
    [...textReplace].forEach((letter,index) => {
      setTimeout(() => {
        textAnimation+= letter
        textIntro.textContent = textAnimation
    }, index * 40);
    });
    setTimeout(() => {
      [...subtextReplace].forEach((letterx,i) => {
      setTimeout(() => {
        subtextAnimation+= letterx
        subtextIntro.textContent = subtextAnimation
    }, i * 5);
    
    }
    )
    }, 1500)

    
  }

  addTransition()

</script>
<hr>
<section id="skills">
  <div class="sectionSpace pt-0">
    <div class="container">
      <div class="row skill-container">
        <!-- <div class="col-md-auto skill-firstchild">
          <div class="keySkillCol">
            <h4 class="smTitle pb-3">Key Skills</h4>
            {% for sk in me.userprofile.skills.all %}
            {% if sk.is_key_skill %}
            <div class="keySkillCard">
              {% if sk.image %}
              <div class="ksIconCol">
                <img src="{{sk.image.url}}" alt="...">
              </div>
              {% endif %}
              <span class="ksText">{{sk.name}}</span>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div> -->
        <div class="col-md">
          <h4 class="smTitle pb-3">Coding Skills</h4>
          <div class="progressCol">
            <div class="progressCard">
              {% for sk in me.userprofile.skills.all %}
              {% if sk.is_key_skill %}
              <div class="progressCol">
                <span class="progressLbl">{{sk.name}}</span>
                <div class="row g-2 align-items-center">
                  <div class="col">
                    <div class="progress progressStyle">
                      <div class="progress-bar" role="progressbar" style="width: {{sk.score}}%" aria-valuenow="{{sk.score}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <span class="pLbl countpercent">0%</span>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    const progressBars = document.querySelectorAll('.progress-bar')
    
    const countpercent = document.querySelectorAll('.countpercent')
    let listBarsWidth = []
    let listBarsNumberPercent = []
    const containerSkill = document.querySelector('.skill-container')
    const firstChildSkill = containerSkill.querySelector('.skill-firstchild')
    const mediaQuery = window.matchMedia('(max-width: 768px)');

    if (mediaQuery.matches) {
      containerSkill.appendChild(firstChildSkill)

} else {
}


    progressBars.forEach((element) =>{
      element.style.opacity = 0;
    })

    let scrollActive = false
    let bodyscroll = 0;

    window.addEventListener('scroll', function() {
      const bodyscroll  = this.scrollY
      if (document.querySelector('#skills').offsetHeight) {
        scrollActive = true
      }
    })


    function waitToExecute () {
    // bar
      progressBars.forEach((bar,index) => {
      bar.style.opacity = '1'
      listBarsNumberPercent.push(bar.getAttribute("aria-valuenow"))
      listBarsWidth.push(bar.offsetWidth)
      for (let index = 0; index < bar.offsetWidth; index++) {
        setTimeout(() => {
          bar.style.width = index + 'px'
        }, index * 5);
      }
      bar.width
    })
    // percent
      setTimeout(() => {
      countpercent.forEach((number,i) => {
        for (let index = 0; index <= listBarsNumberPercent[i]; index++) {
          setTimeout(() => {
            number.textContent = index + '%'
        }, index * (35+i));
        }
    })  
    }, 1000);
    }
    function watchScrollActive() {
      let previousValue = scrollActive;
      setInterval(function() {
        if (previousValue !== scrollActive) {
          waitToExecute()
          previousValue = scrollActive;
        }
      }, 100); // check every 100ms
    }

    watchScrollActive();
    
  </script>
</section>

<section class="aboutMe">
  <style>
    .aboutMe {
      height: 100%;
    }
    .aboutMeContainer {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }

    .AboutMeIllustration {
      position: relative;
    }
    .AboutMeIllustration-image {
      position: absolute;
      transition: all 1s ease;
      height: 300px;
      width: 200px;
      top: 0;
      left: 0;
    }

    .AboutMeIllustration-image img{
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    .AboutMeText {
      flex: 0 0 65%;
      padding-right: 1rem;
    }
    .AboutMeIllustration-container {
      position: relative;
      height: 300px;
      width: 200px;
    }
    .AboutMeText p{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 20px;
      line-height: 2rem;
    }

    .emphrasisP {
      font-weight: 700;
      letter-spacing: 1px;
    }

    @media screen and (max-width:756px) {
      .aboutMe {
        height: 100%;
      }

      .AboutMeIllustration-container{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1rem;
      }
      .AboutMeIllustration-image {
        height: 210px;
        width: 140px;
      }

      .AboutMeIllustration-image {
        position: relative;
      }
    }
  </style>
  <div class="container">
    <h4 class="smTitle pb-3">
      More about me!
    </h4>
    <div class="aboutMeContainer">
      <div class="AboutMeText">
        <p>
          Hello, I'm Cuong, a 26-year-old self-taught full-stack developer with a diverse professional background. Before venturing into coding, I worked as <span class="emphrasisP">a country manager, community manager, salesperson, and tour guide.</span>
        </p>
        <p>
          With expertise in<span class="emphrasisP"> customer care, sales, technical support, and project management, I'm a detail-oriented and driven professional</span>. As a skilled communicator, quick learner, and strategic thinker, I have experience in building customer relationships and assisting them in selecting suitable products and services.
        </p>
        <p>
          I'm excited to introduce my portfolio website that showcases my skills and projects. As a passionate music and sports enthusiast, I'm always eager to learn new things, and my projects reflect my interests. I've built a<span class="emphrasisP">  Tourism website using Python Django called Ngheanreview.asia, an English learning web app using JavaScript and ReactJS, a landing page using CSS, and Bootstrap.</span>
        </p>
        <p>
          I'm currently seeking opportunities and take responsibility for the Vietnam region. If you're interested in learning more about my work or exploring potential collaborations, please check out some projects below.
        </p>
      </div>
      <div>
      <div class="AboutMeIllustration-container">
        {% for img in imagesaboutme %}
          <div class="AboutMeIllustration-image">
            <img src="{{img.image.url}}" alt="{{img.title}}">
          </div>
          {%endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="sectionSpaceSm lightBg">
    <div class="container">
      <div class="row pb-3">
        <div class="col">
          <h4 class="smText regular">Certificates & works</h4>
        </div>
      </div>
      <div class="sliderOuter">
        <div class="swiper certificatesSlider">
          <div class="swiper-wrapper">
            {% for c in certificates %}
            {% if c.is_active %}
            <div class="swiper-slide">
              <div class="cardStyle1">
                <h4 class="mdTitle cs1Title">
                  <a href="{{c.link}}">{{c.title}}</a>
                </h4>
                <ul class="cardOptionCol">
                  <li>{{c.date.date}}</li>
                  <li>{{c.name|title}}</li>
                </ul>
                <p>{{c.description}}</p>
              </div>

            </div>
            <div class="certiPreview">
              <img src="{{c.image.url}}" alt="Certificate">
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>            
        <div class="cert-swiper-button-next swiper-button-next swiperBtnStyle"></div>
        <div class="cert-swiper-button-prev swiper-button-prev swiperBtnStyle"></div>
        <div class="swiper-pagination swiperPaginationStyle posInitial"></div>
      </div>
    </div>
    
  </div>
<script>

 if (!mediaQuery.matches) {
  let ActiveAutoChange = true
  window.addEventListener('scroll', function() {
    const IllustrationImage = document.querySelectorAll('.AboutMeIllustration-image')
    const IllustrationContainer = document.querySelector('.AboutMeIllustration-container')
    const position = IllustrationContainer.getBoundingClientRect().top + window.pageYOffset;
    const bodyscroll  = this.scrollY
    function changeInDex(index) {
      IllustrationImage.forEach((img, i) => {
          if (i === index) {
            img.style.zIndex = '5';
            img.style.opacity = '1';
          } else {
            img.style.zIndex = '1';
            img.style.opacity = '0.3';
          }
        });
    }
    let loopId = null
      if (bodyscroll > position - 500) {
        if (ActiveAutoChange === true){
          AutoChangeIndex()
          ActiveAutoChange = false
        }
    function AutoChangeIndex(){
      let indexInfinityLoop = -1
      loopId = setInterval(() => {
          indexInfinityLoop += 1
        if (indexInfinityLoop > IllustrationImage.length - 1) {
          indexInfinityLoop = 0
        }
        changeInDex(indexInfinityLoop)
      }, 2000);
      }
      

      IllustrationImage.forEach((image,index) => {
      image.addEventListener('mouseover',() => {
        changeInDex(index)
        clearInterval(loopId);
      })
      image.addEventListener('mouseout',() => {
        AutoChangeIndex()
      })

      const changeValue = index * -1 * 30
      if (index % 2 === 0){
        image.style.transform = `translate(${changeValue + 80}px,${-changeValue + 160}px)`
      } else {
        image.style.transform = `translate(${-changeValue + 80}px,${changeValue  + 160}px)`
      }
  })
    }
})
 }
 

</script>
  <script>
  // Get all the certificate preview elements
  const certiPreviews = document.querySelectorAll(".swiper-slide");
  const certiPreviewsImages = document.querySelectorAll(".certiPreview");
  const sectionSpaceSm = document.querySelector('.sectionSpaceSm')
  // Attach a mousemove event listener to each certificate preview element
    if (!mediaQuery.matches) {
      certiPreviews.forEach((ceti,index) => {
    ceti.addEventListener("mousemove", function(event) {
      ceti.style.position = 'relative';
      const tooltip = certiPreviewsImages[index]
      tooltip.style.position = "absolute";
      tooltip.style.border = "1px solid #cccccc";
      tooltip.style.width = "200px";
      // ceti.offsetWidth
      tooltip.style.display = "block";
      tooltip.style.padding = "10px";
      tooltip.style.zIndex = "2";
      sectionSpaceSm.appendChild(tooltip);
      const heightSection = sectionSpaceSm.offsetWidth
      sectionSpaceSm.style.position = 'relative';
      var mouseX = event.clientX;
      var mouseY = event.clientY;
      tooltip.style.left = mouseX + "px";
      tooltip.style.top = (mouseY/heightSection)*400 + 'px';
      tooltip.style.display = "block";
    });
    
    ceti.addEventListener("mouseout", function(event) {
      // Hide the tooltip when the mouse moves out of the certificate preview element
      const tooltip = certiPreviewsImages[index]
      tooltip.style.display = "none";
    });
  });
    }

  </script>
</section>

<section id="portfolio">
  <style>
    .portfolioCardContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .portfolioCard {
      flex: 0 0 49%;
      position: relative;
      transition: all 2s ease;
    }

    .portfolioCardItem {
      transition: all 0.5s ease-in-out;

    }

    .portfolioCard:hover > .portfolioCardItem  {
      color: black;
      background-color: #b5b5b5;
      opacity: 0;
      z-index: 1;
    }

    .portfolioCard:hover > .hidden-btn {
      opacity: 1;
    }

    .hidden-btn {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateY(100%);
      z-index: 3;
      transition: all 0.5s ease-in-out;
    }

    .openDetailBtn {
      border: 2px solid rgb(240, 4, 4);
      padding: 10px 20px;
      width: 100px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
    }
    .openDetailBtn:hover {
      border: 2px solid rgb(255, 255, 255);
      background-color: red;
      color: white;
      transform: scale(1.2);

    }

  </style>
  <div class="sectionSpace">
    <div class="container">
      <div class="portfolioCol">
        <div class="row pb-3">
          <div class="col">
            <h4 class="smText regular">Featured Work</h4>
          </div>
          <div class="col-auto">
            <a href="{% url 'main:portfolios' %}" class="simpleLink">View all</a>
          </div>
        </div>

        <div class="portfolioCardContainer">
        {% for p in portfolio %}
        {% if p.is_active %}
        <div class="portfolioCard">
          <div class="portfolioCardItem">
            <div class="col-md-auto">
              <div class="portfolioImgCol">
                <a href="{% url 'main:portfolio' slug=p.slug %}"><img src="{{p.image.url}}" alt="..."></a>
              </div>
            </div>
            <!-- <div class="col-md">
              <div class="portfolioContentCol">
                <h4 class="lgTitle"><a href="{% url 'main:portfolio' slug=p.slug %}">{{p.name}}</a></h4>
                <ul class="portfolioOption">
                  <li><span class="dateLbl">{{p.date.year}}</span></li>
                </ul>
                <p>{{p.description}}</p>
              </div>
            </div> -->
          </div>
          <div class="hidden-btn">
            <div>
              <h4 class="lgTitle">{{p.name}}</h4>
            </div>
            <!--  -->
            <div class="openDetailBtn" ><a onclick="window.location.href='{% url 'main:portfolio' slug=p.slug %}'">DETAIL</a></div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      </div>
      <div class="testimonialCol">
        <h4 class="smText regular d-block">Testimonials</h4>
        <div class="testimonialSlider">
          <div class="swiper testimonialSwiper">
            <div class="swiper-wrapper">
              {% for t in testimonials %}
              {% if t.is_active %}
              <div class="swiper-slide">
                <div class="testimonialCard">
                  <div class="row align-items-center">
                    <div class="col-sm-auto">
                      <div class="tImgCol">
                        <img src="{{t.thumbnail.url}}" alt="...">
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="tContentCol">
                        <h4 class="xsTitle bold">{{t.name}} - {{t.role}}</h4>
                        <p>{{t.quote}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}

            </div>
            <div class="test-swiper-button-next swiper-button-next swiperBtnStyle"></div>
            <div class="test-swiper-button-prev swiper-button-prev swiperBtnStyle"></div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>



<section>
  <div class="sectionSpaceSm lightBg">
    <div class="container">
      <div class="row pb-3">
        <div class="col">
          <h4 class="smText regular">Recent posts</h4>
        </div>
        <div class="col-auto display-xx">
          <a href="{% url 'main:blogs' %}" class="simpleLink">View all</a>
        </div>
      </div>
      <div class="row g-3">
      {% for b in blogs %}
      {% if b.is_active %}
        <div class="col-lg-6">
          <div class="cardStyle1">
            <h4 class="mdTitle cs1Title"><a href="{% url 'main:blog' slug=b.slug %}">{{b.name}}</a></h4>
            <ul class="cardOptionCol">
              <li>{{b.timestamp.date}}</li>
              <li>{{b.author}}</li>
            </ul>
            <p>{{b.description}}</p>
          </div>
        </div>
        {% endif %}
        {% endfor %}

      </div>
    </div>
  </div>
</section>
{% endblock %}
<!-- ================================
End Content
================================= -->